<div ng-class="validarClass()"  >
	<label class="control-label text-uppercase" for="{{ngFor}}" ng-if="ngLabel != null">{{ngLabel}}
		{{ngObrigatorio ? '*' : ''}}</label> 

		<div class="input-group" style="width: 100%">
			<span class="zmdi icon input-group-addon {{ngIcon}}" ng-show="ngIcon != null"></span>
			
			<input class="form-control text-uppercase {{ngTipo}}" 
			ng-required="ngObrigatorio"
			type="text" 
			ng-model="nome"
			ng-change="valid()"
			data-mask="{{ngMask}}" 
			ng-pattern="ngPattern"
			ng-blur="ngBlur()"
			/> 
	
			<div ng-show="passouOnChange">
				<small class="help-block" ng-show="campo.$error.required">{{ngLabel}} é obrigatório.</small>
				<small class="help-block" ng-show="campo.$error.pattern">{{ngLabel}} no formato inválido.</small>
			</div>
		</div>	
</div>